<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameName="Battlefield 1"
		gameType="PS4, PC, DIGITAL"
		gamePrice="R$ 89,99"
		gameLabel="Exclusive"
	></app-card>

	<app-card
		gameCover="assets/bt-4.jpg"
		gameName="Battlefield 4"
		gameType="PS4, PC, DIGITAL"
		gamePrice="R$ 109,99"
		gameLabel="Exclusive"
	></app-card>

	<app-card
		gameCover="assets/bt-5.jpg"
		gameName="Battlefield V"
		gameType="PS4, PC, DIGITAL"
		gamePrice="R$ 199,99"
		gameLabel="Exclusive"
	></app-card>
</div>
